.coursess-container{
    margin-bottom: 80px;
}
.section-name{
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    margin-bottom: 50px;
    color: #54B8FF;
}
.section-title{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;
}
.arrow-icone{
    font-size: 20px;
}